<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <h1>My Todo List</h1>
<form method="post" action="/todos-add/">
    {% csrf_token %}
    {{ form }}


    {# if we want to personalize the "form" command we can use this: #}
    {#    <label for="{{ form.text.id_for_label }}">#}
{#        {{ form.text.label }}#}
{#        <input type="text" class="form-control" id="{{ form.text.id_for_label }}">#}
{#        {{ form.text }}#}
{#    </label>#}
{#    {{ form.description }}#}
{#     #}
    <button class="btn btn-success">Create</button>


{# if we want to personalize the "form" command we can use this: #}
    {#    <label>Text#}
{#    <input type="text" name="text" />#}
{#        </label>#}
{#    <label>Description#}
{#    <textarea name="description"></textarea>#}
{#        </label>#}
{#    <label>Owner#}
{#    <input type="text" name="owner" />#}
{#    </label>#}
{#    <button>Create</button>#}
</form>

    {% if todos %}
    <div class="container">
        {% for todo in todos %}
        <div class="todo">
        {{ todo.id }}
            <p>{{ todo.text }}</p>
            <div class="description">{{ todo.description }}</div>
        <form method="post" action="/todo-change-state/{{ todo.id }}">
        {% csrf_token %}
            {% if todo.state %}
            <div class="done">DONE</div>
                <input type="hidden" name="state" value="false" />
                <button>Change</button>
        {% else %}
            <div class="open">NOT DONE</div>
                <input type="hidden" name="state" value="true"/>
                <button>Change</button>
        {% endif %}
            </form>
        </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No TODOS</h2>
{% endif %}
</body>
</html>

