{% extends 'shared/base.html' %}
{% block content %}


    <div class="body">
        <h1>Edit Note</h1>
        <div class="form">
            <form method="POST" action="{% url 'edit note' note.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                <label>Title</label>
                {{ form.title }}
                <label>Content</label>
                {{ form.content }}
                <label>Link to Image</label>
                {{ form.image }}
                <input type="submit" value="Edit"/>
            </form>
        </div>
    </div>

{% endblock %}