{% extends 'shared/base.html' %}

{% block navigation_bar %}
    <header>
        <nav>
            <ul>
                <li class="img"><img src="/static/images/note.png"/></li>
                <li><a href="/">Notes</a></li>
                <li class="right">
                    <a href="{% url 'profile details' %}">Profile</a>
                    <a href="{% url 'log out' %}">Log out</a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="body">
        <h1>Add Note</h1>
        <div class="form">
            <form method="POST" action="{% url 'create note' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                <label>Title</label>
                {{ form.title }}
                <label>Content</label>
                {{ form.content }}
                <label>Upload Note Image</label>
                {{ form.image }}
                <input type="submit" value="Publish"/>
            </form>
        </div>
    </div>
{% endblock %}
