{% extends 'shared/base.html' %}

{% block navigation_bar %}
    <header>
        <nav>
            <ul>
                <li class="img"><img src="/static/images/note.png" width="32" height="32"/></li>
                <li><a href="/">Notes</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="body">
        <!--headings-->
        <h1>Edit Your Data</h1>
        <!--end headings-->
        <!--profile data form-->
        <div class="form">
            <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                <label>First Name:</label>
                {{ form.first_name }}
                <label>Last Name:</label>
                {{ form.last_name }}
                <label>Age:</label>
                {{ form.age }}
                <label>Upload Profile Image:</label>
                {{ form.image }}
{#                {{ form }}#}
                <input type="submit" value="SUBMIT"/>
            </form>
        </div>
        <!--end profile data form-->
    </div>
{% endblock %}
