{% extends 'shared/base.html' %}
{% load static %}

{% block navigation_bar %}
    <nav>
        <ul>
            <li class="img"><img src="/static/images/note.png"/></li>
            <li><a href="/">Notes</a></li>
            <li class="right">
                <a href="{% url 'create note' %}">Add Note</a>
                <a href="{% url 'log out' %}">Log out</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="body">
        <h1>Your Profile {{ request.user }}</h1>
        <div class="note-container">
            <h2>
                {% if profile.first_name and profile.last_name %}
                    <h3>Name: {{ profile.first_name }} {{ profile.last_name }}</h3>
                {% else %}
                    <h3>Please complete your profile by filling in you names</h3>
                {% endif %}
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="profile image"/>
                {% else %}
                    <img src="{% static 'images/generic_profile_image.jpg' %}" alt="generic profile image"/>
                {% endif %}
            </h2>
            {% if profile.age %}
                <p>Age: {{ profile.age }}</p>
            {% else %}
                <h3>Feel free to fill in your age</h3>
            {% endif %}
            <div>
                <p>All notes: {{ notes_count }}</p>
            </div>
            <div class="left">
                <a href="{% url 'edit profile' %}" style="color: black; margin-right: 50px"> Edit profile </a>
            </div>
            <p>

            </p>
            <div class="left">
                <a href="{% url 'delete profile' %}" style="color: black; margin-right: 50px"> Delete profile </a>
            </div>
        </div>
    </div>

{% endblock %}